@media (max-width: 1280px) {
  .content {
    margin-left: 15px;
    margin-right: 15px;
  }
  .content__left, .content__right {
    left: 0;
    margin-bottom: 20px;
    width: 200px;
    position: relative;
    display: block;
  }
  .content__left img, .content__right img {
    width: 100%;
  }

  .center {
    width: calc(100% - 270px);
    position: absolute;
    margin: 0;
    right: 0;
    display: block;
  }
}
@media (max-width: 768px) {
  .content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .content__left, .content__right {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    display: block;
  }

  .center {
    width: 100%;
    position: relative;
  }

  #wrapper {
    min-width: 280px;
  }
}
