@media (max-width: 1280px) {
  .content {
    margin-left: 15px;
    margin-right: 15px;
  }
  .content__left, .content__right {
    float: left;
    margin-right: 13px;
    margin-bottom: 20px;
    width: 200px;
    display: block;
  }
  .content__left img, .content__right img {
    width: 100%;
  }

  .center {
    width: calc(100% - 245px);
    float: right;
    display: block;
  }
}
